---
import navigationTabs from "../data/navigationTabs.json";
import { Icon } from "astro-icon/components";
interface Props {
    title: string;
    class: string;
}

const { title, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="A website for GĐPT Anôma" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/logos/gdpt.svg" />
        <title>{title}</title>
    </head>
    <body class="bg-gray-100">
        <div class="flex min-h-screen">
            <!-- Navigation -->
            <nav
                class="sticky top-0 min-w-[22rem] max-w-[400px] h-screen bg-white shadow-xl flex flex-col items-center rounded-r-[4.5rem]"
            >
                <a href="#" class="py-16">
                    <img src="/logos/gdpt.svg" alt="Logo" class="h-48 w-auto" />
                </a>
                <div class="text-[2rem]">
                    {
                        navigationTabs.map((page) => (
                            <a
                                href={page.url}
                                class="flex items-center mb-20 text-gray-700 font-semibold rounded-full hover:bg-gdpt hover:text-white py-2 px-8 transition-colors duration-300"
                                style="--tw-text-opacity: 1; --tw-bg-opacity: 1;"
                            >
                                <Icon class="w-6 h-6 mr-6" name={page.icon} />
                                {page.name}
                            </a>
                        ))
                    }
                </div>
            </nav>

            <!-- Main Body -->
            <main class={className}>
                <slot />
            </main>
            <!-- Footer -->
        </div>
    </body>
</html>
